<div>
  <form action="/animals/comment/{{id}}" method="post">
    <label for="">comment</label>
    <input name="comment" type="text" placeholder="comments">
    <button type="submit"></button>
  </form>
</div>