<div>
  <form action="/animals/comment/{{id}}" method="post">
    <label for="">comment</label>
    <input name="comment" type="text" placeholder="comment">
    <button type="submit">Add comment</button>
  </form>
</div>