<div>
  <form action='/animals/comment/{{id}}' method='post'>
    <label for=''>Add comments: </label>
    <input name='comment' type='text' placeholder='type here' />
    <button class='button' type='submit'></button>
  </form>
</div>