<div>
<<<<<<< HEAD
  <form action='/animals/comment/{{id}}' method='post'>
    <label for=''>Add comments: </label>
    <input name='comment' type='text' placeholder='type here' />
    <button class='button' type='submit'></button>
=======
  <form action="/animals/comment/{{id}}" method="post">
    <label for="">comment</label>
    <input name="comment" type="text" placeholder="comment">
    <button type="submit">Add comment</button>
>>>>>>> 0ae679cb6c938ecbc4ba1bedb712de4ad6345066
  </form>
</div>