{{!-- What are we expecting

This will be the individual page that you are sent to from the all-animals page

We are expecting a single animal with the following layout

    image: urlString,
    name: nameString,
    origin: originString,
    significance: significanceString,
    comments: commentsArray,


This will be in a form layout 

<form action="" method="post">
 //Animal info
  <label for="comments">
    Comments:
    <input type="text" id="comments" name="comments">
  </label>

  <button type="submit">Add</button>
</form>
 --}}
